@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Pizza">Pizza and its origins</a>.</p>
</div>
